.container.blogs {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 70px 70px 1fr 84px;
  grid-template-areas: "header" "aside" "main" "footer";
}

.blogs header {
  grid-area: header;
}

.blogs .aside {
  grid-area: aside;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.blogs .aside a {
  margin-left: 8px;
  padding: 4px 8px;
  font-weight: 500;
  border-radius: 4px;
  margin-bottom: 16px;
  color: white;
  background: #512121;
}

.blogs .main {
  grid-area: main;

  display: flex;
  row-gap: 20px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.main .blog-post {
  box-shadow: 0 0 2px 1px gray;
  background: blanchedalmond;
}

.blog-post .info-box {
  padding: 0 4px 4px 4px;
}

.blogs .footer {
  grid-area: footer;
}

.blog-post header {
  background: #b8d3e6;
}

.blog-post .intro {
  display: flex;
  padding: 10px 5px;
  flex-direction: row;
  align-items: center;
}

.blog-post .avatar-image {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: transparent;
}

.blog-post .intro-menu {
  display: flex;
  margin-left: 10px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.blog-post .external-links {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.blog-post .external-links a {
  width: 30px;
  height: 30px;
  margin-right: 8px;
  border-radius: 50%;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
}

.blog-post .external-links a img {
  width: 100%;
  height: 100%;
}

.blog-post .external-links a:hover {
  box-shadow: 0 0 4px 0px gray;
}

@media screen and (min-width: 415px) {
  .container.blogs {
    grid-template-columns: 300px 1fr;
    grid-template-rows: 70px 1fr 84px;
    grid-template-areas: "header header" "aside main" "footer footer";
  }

  .blogs .aside {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .blogs .main {
    row-gap: 40px;
  }

  .blog-post .intro {
    padding: 10px 20px;
  }

  .blog-post .intro-menu {
    margin-left: 20px;
  }

  .blog-post .avatar-image {
    width: 100px;
    height: 100px;
    margin-right: 20px;
  }
}
