.footer {
  display: flex;
  color: white;
  align-items: center;
  flex-direction: column;
  background-color: indianred;
  justify-content: space-evenly;
}

.footer p {
  color: black;
  font-weight: 500;
}

.social-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.social-links li {
  width: 32px;
  height: 32px;
  margin-right: 12px;
  background-size: contain;
  background-repeat: no-repeat;
}

li a {
  width: 100%;
  height: 100%;
  display: block;
}

li a img {
  width: 100%;
  height: 100%;
}

.fb a img:last-child,
.twitter a img:last-child,
.linkedin a img:last-child {
  display: none;
}

.fb:hover a img:last-child,
.twitter:hover a img:last-child,
.linkedin:hover a img:last-child {
  display: initial;
}

.fb:hover a img:first-child,
.twitter:hover a img:first-child,
.linkedin:hover a img:first-child {
  display: none;
}
