<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Test</title>
</head>

<body>

    <header>
        <!-- <div class="">
            Logo
        </div>
        <div class="">
            navigation
        </div> -->
    </header>

    <main>
        <section>
            <form class="">
                <input id="name" type="text" name="input" placeholder="Enter search term" autocomplete="off"
                    onkeypress="Client.onKeydown(event)" />
                <button type="submit" name="" onclick="Client.handleSubmit(event)">Submit</button>
            </form>
        </section>

        <section>
            <h1>Search Results:</h1>
            <div id="results">
                <p class="no-results">No search results.</p>
            </div>
        </section>
    </main>

    <footer>
        <p>Syed Ziaul Ameen</p>
        <p>&copy; Copyright 2021</p>
    </footer>

</body>

</html>