<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Travel App</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap"
        rel="stylesheet" />
</head>

<body>
    <main id="app">
        <div class="holder headline">
            <h1>
                Travel App
            </h1>
        </div>
        <div class="holder zip">
            <div>
                <form>
                    <label for='zip'></label><input type="text" id="zip" name='destination'
                        placeholder="Enter your destination">
                    <div class="date-wrapper">
                        <label for="journey-date">Journey date: </label><input type='date' id='journey-date'
                            name="journeydate" />
                    </div>
                    <button id="formsubmitbtn" name="submitbutton" type="submit">Search</button>
                </form>
                <span id='zip-info-highlighter'>For US enter zipcode only and for other countries enter zipcode and
                    country code. For eg: 110001,in</span>
            </div>
        </div>
        <div class="holder entry">
            <div class="title">Most Recent Entry</div>
            <div id="entryHolder">
                <div id="date"></div>
                <div id="temp"></div>
                <div id="content"></div>
            </div>
        </div>
        <div class="overlay">
            <div class="message-area">
                <p id='message'></p>
                <button id="close-overlay">Close</button>
            </div>
        </div>
    </main>
    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>

</body>

</html>