body {
  background: #fffff8;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app {
  /* display: grid; */
  /* height: 100vh; */
  /* grid-gap: 1em; */
  /* grid-template-columns:  */
  /* grid-auto-rows: minmax(100px, auto); */
  /* color: #f0d43a; */
  top: 20px;
  left: 50%;
  width: 320px;
  /* height: 540px; */
  padding: 12px;
  font-size: 20px;
  min-height: 430px;
  border-radius: 8px;
  position: absolute;
  background: #f23557;
  box-sizing: border-box;
  transform: translateX(-50%);
  font-family: "Oswald", sans-serif;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.holder {
}

.headline h1 {
  margin: 0;
  font-size: 24px;
  text-align: center;
}

.holder.zip,
.holder.feel,
.holder.entry {
  margin-top: 12px;
}

.zip label {
  font-size: 18px;
}

.holder.zip > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.holder.zip > div > div {
  display: flex;
  align-items: flex-start;
}

.entry {
  /* background: rgba(59, 74, 107, 0.4); */
  width: 95%;
  text-align: center;
}

#entryHolder {
  padding: 4px;
  border-radius: 4px;
  box-sizing: border-box;
  border: 1px solid yellow;

  visibility: hidden;
}

#date {
}

#temp {
  font-size: 36px;
}

#content {
  color: white;
}

.headline {
}

.title {
  color: white;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label {
  display: block;
  font-size: 27px;
}

input {
  padding: 6px 8px;
  display: block;
  /* height: 60px;
  width: 320px; */
  background: #22b2da;
  color: #f0d43a;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  border: none;
}

input#feelings {
  width: 220px;
  line-break: anywhere;
}

button {
  /* width: 400px;
  height: 100px; */
  background: #3b4a6b;
  color: #f0d43a;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  border: none;
  cursor: pointer;
  padding: 6px 8px;
}
button:hover {
  box-shadow: 0 0 1px 1px gray;
}
h1 {
  font-size: 36px;
}

textarea {
  background: #22b2da;
  color: #f0d43a;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  resize: none;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
/* Style for Placeholder Text*/
::placeholder {
  /* Firefox, Chrome, Opera */
  color: #f0d43a;
  font-family: "Oswald", sans-serif;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #f0d43a;
  font-family: "Oswald", sans-serif;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #f0d43a;
  font-family: "Oswald", sans-serif;
}

#zip-info-highlighter {
  font-size: 11px;
  background: white;
  color: black;
  padding: 2px 4px;
  font-weight: 600;
  transition: all 0.5s;
  display: inline-block;
  width: 270px;
}

.overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.6);

  display: flex;
  align-items: center;
  justify-content: center;

  visibility: hidden;
}

.overlay .message-area {
  width: 80%;
  padding: 4px;
  font-size: 18px;
  text-align: center;
  border-radius: 4px;
  background-color: white;
}

.overlay .message-area button {
  border-radius: 4px;
}
