section form {
  padding: 12px 0;

  width: 100%;
  display: flex;
  flex-direction: row;
}

form input[type="text"] {
  flex: 2;
}

form button {
  flex: 1;
  margin-left: 2px;

  &:not(:disabled) {
    cursor: pointer;
  }
}

button,
input {
  padding: 5px 20px;
  width: 100%;
  line-height: 16px;
  // margin: 10px 0;
}
