.cards {
  gap: 8px;
  display: flex;
  flex-wrap: wrap;
  /* padding: 0 16px; */
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
}

.card {
  height: 240px;
  border-radius: 6px;
  position: relative;
  border: 1px solid black;
  box-shadow: 0 0 2px 0px gray;
}

.card--wrapper {
  margin: 12px;
  display: grid;
  row-gap: 16px;
  position: relative;
  height: calc(100% - 24px);
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr 30px;
}

.card:hover {
  box-shadow: 0 0 4px 0px gray;
}

.card--title-wrapper {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: space-between;
}

.card--title {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  color: var(--primary);
}

.card--title-image {
  width: 32px;
  height: 32px;
  background-size: contain;
  background-repeat: no-repeat;
}

.react-js {
  background-image: url(../assets/images/react-js.svg);
}

.react-router {
  width: 59px;
  height: 32px;
  background-color: gray;
  background-image: url(../assets/images/react-router.png);
}

.redux {
  background-image: url(../assets/images/redux.svg);
}

.react-testing-library {
  background-image: url(../assets/images/react-testing-library.png);
}

.card--summary-text {
  font-size: 16px;
  /* margin-top: 16px; */
  font-weight: 500;
  line-height: 20px;
  max-height: 200px;
  overflow: hidden;
}

.card:hover .card--summary-text {
  max-height: unset;
  overflow: auto;
}

.card--footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card--footer-nav-btn {
  font-size: 16px;
  padding: 6px 8px;
  border-radius: 4px;
  border: 1px solid black;
}

.card--footer-nav-btn {
  color: black;
}

.card--footer-nav-btn:hover {
  background: var(--primary);
}

.card--footer-nav-btn:hover a {
  color: white;
}

.card--footer-publish-date {
}

.card--title-highlighter {
}

@media screen and (min-width: 420px) {
  .card {
    max-width: 360px;
  }
}
